//////////////////////////////////////////////////////////////////////////
// UNIVERSAL STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
body {
  font-family: "proxima-nova", sans-serif;
	font-size: 1em;
	line-height: 1.6;
	color: #666666;
	vertical-align: top;
}

a {
	color: rgb(0, 145, 202);
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

//////////////////////////////////////////////////////////////////////////
// HEADER STYLING ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.header {
	height: 50px;
	margin: 15px 0;

	.logo-wew {
		height: 50px;
		width: 50px;
		margin-right: 5px;
		display: inline-block;
	}

	.my-name {
		font-size: 24px;
		color: rgb(0, 145, 202);
		display: inline-block;
		vertical-align: top;
	}
}

.addMargin { margin: 15px; }

//////////////////////////////////////////////////////////////////////////
// DOTTED LINE & NAVIGATION STYLING //////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.dots-left, .dots-right {
	height: 25px;
	// padding: 0;
	margin-bottom: 15px;
	background: url(..//images/dots.png) repeat-x left bottom;

	a {
		margin-right: 5px;
		font-size: 0.75em;
	}
}

//////////////////////////////////////////////////////////////////////////
// HOME PAGE STYLING /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.introtext { margin-bottom: 15px; }

.herotext {
	line-height: 1.2;
	color: rgb(0, 145, 202);
	p { margin: 0 0 0 0; }
	margin-bottom: 15px;
}

.follow-up-text { max-width: 388px; }

//////////////////////////////////////////////////////////////////////////
// RESUME PAGE STYLING ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.sub-nav {
	margin: 0;
	padding: 0;
}

.sub-content-left {
	width: 48.75%;
	display: inline-block;
}

.initial-content, .software, .development, .experience, .education {
	max-width: 388px;
	p { margin-bottom: 10px; }
}

.sub-content-right {
	width: 48.75%;
	display: inline-block;
	float: right;
}

.show-resume-btn, .show-highlights-btn {
	font-size: 0.75em;
	color: rgb(0, 145, 202);
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.download-btn { display: inline-block; }

//////////////////////////////////////////////////////////////////////////
// PORTFOLIO PAGE STYLING ////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
	.project-tile{
		img {width: 100%}
		width: 31%;
		float: left;
		margin: 0 3.5% 3.5% 0;
		display: inline-block;

		p {
			font-size: 0.85em;
			line-height: 1.5em;
		}
	}

	.project-tile:nth-child(3n+3) {margin-right: 0;}

//////////////////////////////////////////////////////////////////////////
// PROJECT VIEW STYLING //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.project-view {
	.content-column {
		img {
			max-width: 100%;
			max-height: 600px;
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	.sidebar {
		h3 {
			line-height: 1;
			margin-bottom: 15px;
		}

		p { margin-bottom: 15px; }	
	}
}

//// PHOTOGRAPHY ///////////////////////////////////////////////////////
.photography {
	width: 75%;
	display: inline-block;
	margin-bottom: 55px;

	.img-wide {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.left {
		float: left;
		max-width: 49.5%;
		margin-right: 0.5%;
		margin-bottom: 15px;
	}

	.right {
		float: right;
		max-width: 49.5%;
		margin-left: 0.5%;
		margin-bottom: 15px;
	}
}

//////////////////////////////////////////////////////////////////////////
// FOOTER STYLING ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
.footer {
	width: 100%;
	height:40px;
	margin-top: 15px;
	position: fixed;
	bottom: 0;
	background-color: #d8eef6;

	.container {
		width: 90%;
		margin: 0 auto;
		padding-top: 9px;

		p {
			float: left;
			font-size: 0.975em;
			margin-right: 15px;
		}
	}

	img {
		float: left;
		height: 24px;
		margin-right: 10px;
	}
}
